*{
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 200px;
    background-color:crimson;
}

.main-container{
    width: 100%;
    display: flex;
}

.menu-entry {
    width: 150px;
    height: 200px;
}
.entry-1{

    background-color:darkorange;
}

.entry-2{
    background-color:cyan;


}
.entry-3 {

    background-color:deeppink;
}
.entry-4{
    background-color:deeppink;
}

.central-panel{
    width: 100%;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-1{
    margin:30px;
    width: 80%;
    display :flex;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: space-around;

}

.element{
    background-color: gold;
    width: 200px;
    height: 200px;
    margin: 32px;
}









